.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 7rem;
}

.header {
    height: 300px;
}

.title {
    position: relative;
    font-size: 3rem;
    top: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(59, 59, 59);
    font-weight: 400;
  
  
    
}

.mat-mdc-card {
    width: 400px;
    height: 120px;
}

.input-item {
    width: 400px;
    margin-top: 90px;
    margin-right: 10rem;

}

.card-item {
    margin-top: 50px;
    position: relative;
    top: -130px;
}

.flex-item {
    width: 100%;
    padding: 1.2rem;
}

.center {
    margin: 0 auto;
}

.conteudo{
    font-size: 1.5rem;
}

.titulo {
    font-size: 1.6rem;
    padding: 20px;
}

.receita {
    background-color: rgb(60, 156, 60);
    color: #fff;
}

.despesa {
    background-color: rgb(190, 62, 62);
    color: #fff;
}

.saldo {
    background-color: rgb(24, 128, 184);
    color: #fff;
}

