table {
    width: 100%;
  }
.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 10px;
    
}

.verde{
    color: rgb(26, 126, 26);
    font-weight: 500;
   
}

.vermelho{
 color: rgb(212, 50, 50);
 font-weight: 500;

}

